*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.header-container {
  background: url('/images/desktop/image-hero.jpg') no-repeat;
  height: 650px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 10.25rem 0;
}

.nav-container ul {
  display: flex;
  gap: 2rem;
  font-family: 'Alata', sans-serif;
  font-size: 0.9375rem;
}

.title-container {
  border: 0.125rem solid #fff;
  width: 650px;
  margin-top: 8.125rem;
  margin-left: 10.3125rem;
  padding: 2.5rem;
}

.title-container h1 {
  font-size: 72px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 70px;
}

.interactive-container {
  padding: 10rem 10.25rem 11.5rem;
  position: relative;
  display: flex;
  align-items: end;
}

.float-container {
  position: absolute;
  max-width: 100%;
  padding: 96px 0 0 96px;
  left: 734px;
  background: #fff;
}

.float-container h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.float-container div {
  width: 445px;
}

.float-container p {
  font-family: 'Alata', sans-serif;
  color: hsl(0, 0%, 55%);
  font-size: 15px;
  line-height: 25px;
}

.creations-container {
  padding: 0 10.25rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.creations-container h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

.creations-container a {
  color: #000;
  border: 1px solid hsl(0, 0%, 41%);
  padding: 0.8125rem 2.6875rem 0.8125rem 2.375rem;
  font-family: 'Alata', sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 0.875rem;
  letter-spacing: 0.3125rem;
}

.creations-container__images {
  padding: 0 10.25rem 11.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.creations-container__img {
  display: flex;
  justify-content: start;
  position: relative;
  align-items: end;
}

.creations-container__images p {
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  bottom: 32px;
  left: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  z-index: 99;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 60%;
  background: linear-gradient(1deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.0001) 80%);
}

.footer-container {
  background: #000;
  height: 100%;
  padding: 2.75rem 10.3125rem;
}

.footer-container__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container__social {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-container__list {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-family: 'Alata', sans-serif;
  font-size: 0.9375rem;
}

.footer-container__list ul {
  color: #fff;
  display: flex;
  gap: 2rem;
}

.footer-container__list p {
  color: hsl(0, 0%, 55%);
}

.creations-container__desktop {
  display: block;
}

.creations-container__mobile {
  display: none;
}

.footer-container__social-mobile {
  display: none;
}

.interactive-container__mobile {
  display: none;
}


/* MOBILE */
@media (max-width: 1276px) {
  .float-container {
    left: 548px;
    padding: 1.9375rem 0 0 2.25rem;
  }
}

@media (max-width: 1100px) {
  .interactive-container {
    flex-direction: column;
    align-items: center;
    padding: 10rem 10.25rem 96px;
  }

  .float-container {
    text-align: center;
    position: initial;
    padding: 3rem 0;
    width: auto;
  }

  .creations-container {
    padding: 0 10.25rem 5rem;
  }

  .creations-container__images p {
    left: 0;
  }
}

@media (max-width: 900px) {
  .nav-container ul {
    display: none;
  }

  .title-container {
    width: 550px;
  }

  .title-container h1 {
    font-size: 3.5rem;
  }

  .creations-container a {
    display: none;
  }

  .creations-container {
    justify-content: center;
  }

  .creations-container__images {
    grid-template-columns: 1fr;
  }

  .creations-container__desktop {
    display: none;
  }
  
  .creations-container__mobile {
    display: block;
  }

  .creations-container__images p {
    left: 20px;
  }

  .background-image {
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.0001) 80%);
  }

  .footer-container__images {
    flex-direction: column;
  }

  .footer-container__list {
    flex-direction: column;
    align-items: center;
  }

  .footer-container__list ul {
    flex-direction: column;
    align-items: center;
  }

  .footer-container__social {
    display: none;
  }

  .footer-container__social-mobile {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 715px) {
  .title-container {
    width: 327px;
    padding: 1.625rem;
  }

  .title-container h1 {
    font-size: 3.5rem;
    line-height: 60px;
  }
}

@media(max-width: 715px) {
  .header-container {
    background: url('/images/mobile/image-hero.jpg') no-repeat;
    background-size: cover;
  }

  .interactive-container__desktop {
    display: none;
  }

  .interactive-container__mobile {
    display: block;
  }

  .nav-container {
    padding: 40px 24px 0;
  }

  .title-container {
    margin: 227px 24px;
  }

  .title-container h1 {
    font-size: 2.5rem;
    line-height: 2.375rem;
  }

  .interactive-container {
    padding: 96px 24px 0;
  }

  .float-container {
    max-width: none;
    padding: 3rem 1.5rem 6rem;
  }

  .float-container div {
    width: auto;
  }

  .float-container h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .creations-container {
    padding: 0 3rem;
  }

  .creations-container h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .creations-container__images {
    padding: 3rem 1.5rem;
  }

  .creations-container__images p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    top: 3.25rem;
  }

  .creations-container__images a {
    color: #000;
    border: 1px solid hsl(0, 0%, 41%);
    padding: 0.8125rem 2.6875rem 0.8125rem 2.375rem;
    font-family: 'Alata', sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    line-height: 0.875rem;
    letter-spacing: 0.3125rem;
    margin: 0 auto;
  }

  .footer-container {
    padding: 3.5rem 3.25rem;
  }

  .footer-container__list ul {
    gap: 1rem;
  }

  .footer-container__list p {
    font-size: 14px;
    line-height: 25px;
  }
}